.Header {
    height: 68px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header-Link {
    font-size: var(--small-size);
    text-decoration: none;
    color: var(--main-color);
    margin-left: 54px;
}

.Header-Link.Active,
.Header-Link:hover {
    text-decoration: underline;
}

@media screen and (max-width: 750px) {
    .Header,
    .Header-Logo {
        height: 47px;
    }
    .Header-Link {
        font-size: var(--x-small-size);
        margin-left: 10px;
        text-transform: uppercase;
    }
}