.Apartment-Header {
    color: var(--main-color);
    margin-top: 30px;
}

.Apartment-Details,
.Apartment-Header,
.Apartment-Extra {
    display: flex;
}

.Apartment-Header,
.Apartment-Extra {
    justify-content: space-between;
}

.Apartment-Extra {
    flex-direction: column;
}

.Apartment-Details {
    margin-top: 24px;

    gap: 76px;
    flex: none;
    flex-grow: 0;
}

.Apartment-Details .Detail-Card {
    width: 50%;
    height: max-content;
}

@media screen and (max-width: 1120px) {
    .Apartment-Details {
        display: block;
    }
    .Apartment-Details .Detail-Card {
        width: 100%;
    }
}

@media screen and (max-width: 750px) {
    .Apartment-Header {
        flex-direction: column;
    }
    .Apartment-Extra {
        flex-direction: row-reverse;
        margin-top: 16px;
    }
}