.Profil-Container {
    display: flex;
    align-items: center;
}

.Profil-Name {
    font-weight: inherit;
    font-size: var(--x-small-size);
    text-align: right;

    width: 93px;
    margin: 0 15px 0 0;
}

.Profil-Avatar {
    background-color: #C4C4C4;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    object-fit: cover;
}