.Bullet.active,
.Bullet:hover {
    background-color: #111111;
}

.Bullet {
    border: none;

    width: 16px;
    height: 16px;

    cursor: pointer;
    border-radius: 50%;
    display: inline-block;

    background-color: #999999;
    margin: 0 2px
}