.SlideShow-Container {
    background-color: transparent;
    border-radius: 25px;

    margin-top: 20px;
    height: 415px;
    width: 100%;

    position: relative;
}

.Button {
    background-color: transparent;
    border: none;

    position: absolute;
    top: 40%;
    padding: 16px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0 3px 3px 0;
}

.Button.Next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.Button:hover {
    background: rgba(0, 0, 0, .8);
}

.SlideShow-Text-Indication {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    color: white;
    font-size: var(--small-size);
}

.SlideShow-Images {
    z-index: -1;
    overflow: hidden;
}

.SlideShow-Image {
    display: none;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    overflow: hidden;
}

.SlideShow-Image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.SlideShow-Image.active {
    display: block;
}

@media screen and (max-width: 750px) {
    .Button-Icon {
        width: 24px;
    }
}

@media screen and (max-width: 450px) {
    .SlideShow-Container {
        height: 225px;
    }
}