.SlideShow-Image {
    display: none;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    overflow: hidden;
}

.SlideShow-Image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.SlideShow-Image.active {
    display: block;
}